.page{
    display: flex;
    flex-direction: column;
    margin: 10%;
    height: auto;
}
.textW{
    display: flex;
    flex-direction: column;
}
.headline{
    font-size: 28px;
    color: black;
    font-family: AppleSystemUIFont;
}
.text{
    font-size: 15px;
    font-family: AppleSystemUIFont;
}